html {
  scroll-behavior: smooth;
}

header {
  height: 45rem;
  margin-top: 3rem;
}

.statistics__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.statistics {
  display: block;
}

.statistics h3 {
  margin-bottom: 3rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.7rem;
  min-width: 10rem;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(88, 88, 223, 0.3);
  width: 75rem;
  font-weight: bold;
}

th {
  position: sticky;
  top: 0;
  background-color: var(--color-bg1);
  color: var(--color-white);
  padding: 15px;
}

.table-wrapper {
  max-height: 35rem;
  max-width: 80rem;
  overflow-y: scroll;
  margin: 20px;
}

tr,
td {
  padding: 12px 15px;
}

td {
  text-align: center;
}

tbody tr {
  background-color: rgba(88, 88, 223, 0.3);
}

tbody tr:nth-of-type(even) {
  background-color: rgba(11, 11, 111, 0.3);
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: var(--color-black);
}

/* ======= VIEWS ========*/

.views__container {
  height: 50rem;
  padding: 0;
}

.views {
  padding: 20px 0;
}

.btn {
  border-radius: 10px;
  background: var(--color-white);
  color: var(--color-black);
  margin: 1rem;
}

.views__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.views__buttons a.selected {
  background-color: var(--color-bg3);
  color: #ffffff;
}

.generated__views {
  margin-top: 3rem;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generated__views h4 {
  text-align: center;
  margin-bottom: 1rem;
}

.generated__views .chart-container {
  min-width: 60rem;
  min-height: 60rem;
}

.view1-chart-container {
  width: 30rem;
  height: 30rem;
}

.chart-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.chart-section form {
  display: flex;
  align-items: center;
}

.chart-section label {
  margin-right: 10px;
  font-weight: bold;
}

.chart-section select {
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px;
}

.chart-section input[type="submit"] {
  padding: 5px 10px;
  background-color: var(--color-bg3);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chart-section input[type="submit"]:hover {
  background-color: var(--color-primary);
}

.chart-section input[type="number"],
.chart-section input[type="submit"] {
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px;
}

/* ======= BUTTONS ========*/
.btn-to {
  background: var(--color-white);
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: var(--color-black);
  text-decoration: none;
}

.export__buttons h4 {
  color: var(--color-white);
  position: fixed;
  top: 7.5rem;
  left: 1.5rem;
}

.export-to1 {
  top: 10rem;
  left: 1.5rem;
}

.export-to2 {
  top: 14rem;
  left: 1.5rem;
}

.export-to3 {
  top: 18rem;
  left: 1.5rem;
}

span {
  font-size: 1rem;
}

#error-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 23rem;
}

#close-error {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#close-error:hover {
  color: var(--color-black);
}

/* ================= MEDIA QUERIES(TABLETS) ===============*/
@media screen and (min-width: 1324px) {
  .generated__views .chart-container {
    min-width: 60rem;
    min-height: 60rem;
  }
}

@media (min-width: 1024px) and (max-width: 1324px) {
  .table-wrapper {
    max-height: 35rem;
    max-width: 60rem;
    overflow-y: scroll;
    margin: 20px;
    overflow-x: scroll;
  }

  .generated__views .chart-container {
    min-width: 60rem;
    min-height: 60rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .table-wrapper {
    max-height: 35rem;
    max-width: 40rem;
    overflow-y: scroll;
    margin: 20px;
    overflow-x: scroll;
  }

  .generated__views .chart-container {
    min-width: 40rem;
    min-height: 40rem;
  }
}

/* ================= MEDIA QUERIES(PHONES) ===============*/
@media screen and (max-width: 768px) {
  .table-wrapper {
    max-height: 30rem;
    max-width: 20rem;
    overflow-y: scroll;
    margin: 20px;
    overflow-x: scroll;
  }

  .generated__views .chart-container {
    min-width: 25rem;
    min-height: 25rem;
  }

  .generated__views h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .btn {
    margin: 0.5rem;
  }

  .generated__views .view1-chart-container {
    width: 20rem;
    height: 20rem;
  }

  .generated__views .chart-section {
    display: flex;
    flex-direction: column;
  }

  .chart-section label,
  .chart-section input[type="number"],
  .chart-section input[type="hidden"],
  .chart-section input[type="submit"] {
    width: 100%;
  }
}
